<div class="container mt-4" style="margin-bottom: 10%;">
    <div class="row">
        <div class="col-5 offset-3"
            style="margin-top: 11%; border: 1px solid rgba(128, 128, 128, 0.137); border-radius: 15px;box-shadow: 0 0 3px rgba(128, 128, 128, 0.445); background-color: rgba(251, 253, 255, 0.329);">
            <form class="p-5" [formGroup]="postForm">
                <h3 class="text-center" style="font-size: 35px; font-weight: 600;">Quên mật khẩu</h3>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email"
                    [ngClass]="{'is-invalid':postForm.get('email')?.touched && postForm.get('email')?.invalid}"
                        formControlName="email">
                    <small class="text-danger"
                        *ngIf="postForm.get('email')?.invalid && postForm.get('email')?.touched">Hãy nhập đúng
                        email</small>
                </div>
                <br>
                <div class="form-group">
                    <label for="otp">OTP</label>
                    <div class="input-group">
                        <input type="text" maxlength="6" name="otp" id="otp" class="form-control"
                        [ngClass]="{'is-invalid':postForm.get('otp')?.touched && postForm.get('otp')?.invalid}"
                        formControlName="otp">
                        <span class="input-group-text" style="font-size: 90%; cursor: pointer;"
                            (click)="postForm.get('email')?.valid?sendOtp():sendError()">Lấy OTP</span>
                    </div>
                    <small class="text-danger" *ngIf="postForm.get('otp')?.invalid && postForm.get('otp')?.touched">Hãy
                        nhập mã OTP có 6 kí
                        tự</small>
                </div>
                <br>
                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Mật khẩu" (keyup)="checkPassword($event)"
                    [ngClass]="{'is-invalid':postForm.get('password')?.touched && postForm.get('password')?.invalid}"
                        formControlName="password">
                    <small class="text-danger"
                        *ngIf="postForm.get('password')?.invalid && postForm.get('password')?.touched">Hãy nhập đúng mật
                        khẩu</small>
                </div>
                <br>
                <div class="form-group">
                    <label for="passwordConfirm">Nhập lại mật khẩu</label>
                    <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control" (keyup)="checkPasswordConfirm($event)"
                    [ngClass]="{'is-invalid':check || (postForm.get('passwordConfirm')?.touched && postForm.get('passwordConfirm')?.invalid)}"
                        formControlName="passwordConfirm" placeholder="Mật khẩu">
                    <!-- <small class="text-danger"
                        *ngIf="postForm.get('passwordConfirm')?.invalid && postForm.get('passwordConfirm')?.touched">Hãy -->
                        <!-- nhập đúng mật khẩu</small> -->
                    <small class="text-danger" *ngIf="check">Mật khẩu xác thực không trùng</small>
                </div>
                <button mat-raised-button color="primary" class="mt-4" [disabled]="postForm?.invalid || check" (click)="updatePassword()">Đổi mật
                    khẩu</button>
            </form>
        </div>
    </div>
</div>